@font-face {
  font-family: "Fixel";
  src: url(../fonts/FIXELDISPLAY-REGULAR.TTF);
  font-weight: 400;
}

@font-face {
  font-family: "Fixel";
  src: url(../fonts/FIXELDISPLAY-SEMIBOLD.TTF);
  font-weight: 600;
}

@font-face {
  font-family: "Fixel";
  src: url(../fonts/FIXELDISPLAY-BOLD.TTF);
  font-weight: 700;
}

@font-face {
  font-family: "Fixel";
  src: url(../fonts/FIXELDISPLAY-EXTRABOLD.TTF);
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  max-width: 360px;
}
/* header */

.header {
  border-bottom: 1.5px solid #0e0e0e;
}

/* section-hero */

.section-hero {
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}

.section-hero .container {
  position: relative;
}

.main-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px;

  max-width: 428px;

  margin-left: auto;
  margin-right: auto;
}

.start-course {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.course-spiker {
  color: #76926b;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header-title {
  color: #0e0e0e;
  font-family: Fixel;
  font-size: 41px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  line-height: 80%;
}

.header-title span {
  font-size: 30px;
}

.header-title-description {
  color: #7e7e7e;
  font-family: Fixel;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;
}

.header-title-description::after {
  content: "";
  display: block;

  height: 1px;
  width: 100px;
  background-color: #0e0e0e;

  margin-top: 10px;
  margin-bottom: 5px;
}

.header-description {
  color: #7e7e7e;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: lowercase;

  max-width: 235px;

  margin-bottom: 20px;
}

.header-anchor-container {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 210px;
  padding: 12px 30px;
  border-radius: 60px;
  background: #515e4c;

  margin-bottom: 30px;

  animation: glowing1 1300ms infinite;
}

@keyframes glowing1 {
  0% {
    background-color: #515e4c;
    box-shadow: 0 0 5px #515e4c;
  }
  50% {
    background-color: #7e9077;
    box-shadow: 0 0 20px #7e9077;
  }
  100% {
    background-color: #515e4c;
    box-shadow: 0 0 5px #515e4c;
  }
}

.header-anchor-button {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.header-doctor-container {
  position: absolute;
  left: 50%;
  bottom: 30px;

  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 60px;
  border: 1px solid #0e0e0e;
  background: #fff;

  width: 145px;

  transform: translate(-50%, -50%);

  z-index: 2;
}

.header-doctor-anchor {
  color: #1f1f1f;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.header-doctor-container::before,
.header-doctor-container::after {
  position: absolute;
  content: "";
  border: 0.5px solid #000000;
  left: -50px;
  right: -50px;
  top: -15px;
  bottom: -15px;
  animation: pulse-two 1.3s linear infinite;
  opacity: 0;

  border-radius: 60px;
}

@keyframes pulse-two {
  0% {
    opacity: 0;
    transform: scale(0.65);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}

.about-speaker-container {
  position: relative;
}

.doctor-star {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 32px;
  /* animation: spin 0.0001s linear 0s infinite;
  transform: translate(-50%, -50%); */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-doctor-image {
  margin-left: auto;
  margin-right: auto;
}

/* marquee */

.for-doctors-container {
  position: absolute;
  bottom: 50px;
  left: 0;

  padding: 8px 10px;

  height: 44px;
  width: 100%;

  transform: rotate(-3deg);

  background: #a1b997;
}

.move-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.for-doctors-container .move-string {
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#supermarquee {
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
  }

  .section-hero {
    padding-top: 50px;
  }

  .section-hero .container {
    position: relative;
  }

  .main-info-container {
    padding: 20px 40px;
    max-width: 768px;
  }

  .start-course {
    font-size: 20px;
  }

  .course-spiker {
    font-size: 20px;
  }

  .header-title {
    font-size: 50px;
  }

  .header-title span {
    font-size: 36px;
  }

  .header-title-description {
    font-size: 22px;
  }

  .header-title-description::after {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .header-description {
    font-size: 20px;
    max-width: 291px;
  }

  .header-anchor-button {
    font-size: 20px;
  }

  .header-anchor-container {
    max-width: 283px;
  }

  .about-speaker-container {
    position: absolute;
    bottom: -60px;
    right: 100px;
  }

  .doctor-star {
    left: 10px;
    bottom: 10px;

    width: 323px;
    height: 323px;
  }

  .for-doctors-container {
    bottom: 0;
  }

  .header-doctor-container {
    left: 55%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1280px;
  }

  .section-hero {
    padding-top: 60px;
  }

  .main-info-container {
    padding: 30px 100px;
    max-width: 1280px;
  }

  .start-course {
    font-size: 28px;
  }

  .course-spiker {
    font-size: 28px;
  }

  .header-title {
    font-size: 90px;
  }

  .header-title span {
    font-size: 65px;
  }

  .header-title-description {
    font-size: 36px;
  }

  .header-title-description::after {
    margin-top: 30px;
    margin-bottom: 20px;

    width: 200px;
  }

  .header-description {
    font-size: 32px;
    max-width: 460px;
    margin-bottom: 40px;
  }

  .header-anchor-button {
    font-size: 24px;
  }

  .header-anchor-container {
    max-width: 389px;
  }

  .about-speaker-container {
    position: absolute;
    bottom: -140px;
    right: 100px;
  }

  .doctor-star {
    left: 10px;
    bottom: 10px;

    width: 562px;
    height: 562px;
  }

  .for-doctors-container {
    bottom: -100px;
    height: 60px;
  }

  .for-doctors-container .move-string {
    font-size: 32px;
  }

  .header-doctor-container {
    width: 197px;
  }

  .header-doctor-anchor {
    font-size: 18px;
  }

  .move-container img {
    width: 24px;
    height: 24px;
  }
}

/* section-one */

.section-one {
  padding-top: 0;
  padding-bottom: 60px;
}
.sect-one-title {
  text-align: center;
  color: #0e0e0e;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.sect-one-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 60px;
}

.sect-one-list .list-item {
  padding: 20px;
  border-radius: 15px;
  background: #e9f0e9;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.sect-one-list .list-item-title {
  color: #0e0e0e;
  font-family: Fixel;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;
}

.sect-one-list .list-item-title::after {
  content: "";
  display: block;

  height: 1px;
  width: 100px;
  background-color: #0e0e0e;

  margin-top: 8px;
  margin-bottom: 5px;
}

.sect-one-list .list-item-text {
  color: #0e0e0e;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */

  width: 225px;
}

@media screen and (min-width: 768px) {
  .section-one {
    padding-top: 60px;
  }

  .sect-one-title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .sect-one-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;
  }

  .sect-one-list .list-item {
    width: 318px;
  }

  .sect-one-list .list-item:last-child {
    width: 650px;
    text-align: center;
  }

  .sect-one-list .list-item:last-child:last-child .list-item-title::after {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .section-one {
    padding-top: 180px;
  }

  .sect-one-title {
    font-size: 40px;
  }
}

/* timer */
.start-timer-title {
  color: #101010;
  text-align: center;
  font-family: Fixel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
  text-transform: uppercase;
}

.timer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.timer__items {
  display: flex;
  justify-content: center;
  font-size: 36px;
}
.timer__item {
  color: #a1b997;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;

  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.timer__item:first-child {
  margin-left: 0;
}

.timer__item:last-child {
  margin-right: 0;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -17px;
}

@media screen and (min-width: 768px) {
  .start-timer-title {
    font-size: 24px;
  }

  .timer__items {
    font-size: 48px;
  }

  .timer__item {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .timer {
    width: 400px;
  }

  .start-timer-title {
    font-size: 28px;
  }

  .timer__item {
    font-size: 64px;
  }

  .timer__item:not(:last-child)::after {
    content: ":";
    position: absolute;
    right: -21px;
  }
}

/* section-two */

.section-two {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #e9f0e9;
}

.sect-two-title {
  color: #0e0e0e;
  text-align: center;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;
}

.sect-two-title::after {
  content: "";
  display: block;

  height: 1px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e0e0e;

  margin-top: 30px;
  margin-bottom: 30px;
}

.sect-two-description {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  max-width: 305px;

  margin-left: auto;
  margin-right: auto;
}

.sect-two-description::after {
  content: "";
  display: block;

  height: 1px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e0e0e;

  margin-top: 30px;
  margin-bottom: 40px;
}

.sect-two-list {
  display: flex;

  flex-direction: column;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  gap: 20px;

  margin-bottom: 40px;
}

.sect-two-list .list-item {
  border-radius: 15px;
  background: #fff;

  width: 320px;

  padding: 20px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.05),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.03),
    0px 7px 3px 0px rgba(0, 0, 0, 0.01), 0px 12px 3px 0px rgba(0, 0, 0, 0);
}

.sect-two-list .list-item-title {
  color: #638855;
  text-align: center;
  font-family: Fixel;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;
}

.sect-two-list .list-item-title::after {
  content: "";
  display: block;

  height: 1px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bfbfbf;

  margin-top: 10px;
  margin-bottom: 10px;
}

.sect-two-list .list-item-text {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.sect-two-space {
  margin-bottom: 10px;
}

.sect-two-anchor {
  width: 280px;
  padding: 12px 80px;

  margin-left: auto;
  margin-right: auto;

  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  border-radius: 60px;
  background: #6a1c32;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: glowing2 1300ms infinite;
}

@keyframes glowing2 {
  0% {
    background-color: #6a1c32;
    box-shadow: 0 0 5px #6a1c32;
  }
  50% {
    background-color: #904157;
    box-shadow: 0 0 20px #904157;
  }
  100% {
    background-color: #6a1c32;
    box-shadow: 0 0 5px #6a1c32;
  }
}

@media screen and (min-width: 768px) {
  .section-two .container {
    padding-left: 54px;
    padding-right: 54px;
  }

  .sect-two-title {
    font-size: 36px;
  }

  .sect-two-description {
    max-width: 548px;
    font-size: 20px;
  }

  .sect-two-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-height: 1094px;
    max-width: 660px;
  }

  .sect-two-list .list-item-title {
    font-size: 20px;
  }

  .sect-two-list .list-item-text {
    font-size: 16px;
  }

  .sect-two-list .list-item:nth-child(1) {
    height: 270px;
    order: 1;
  }

  .sect-two-list .list-item:nth-child(2) {
    height: 250px;
    order: 2;
  }

  .sect-two-list .list-item:nth-child(3) {
    height: 356px;
    order: 4;
  }

  .sect-two-list .list-item:nth-child(4) {
    height: 199px;
    order: 5;
  }

  .sect-two-list .list-item:nth-child(5) {
    height: 284px;
    order: 3;
  }

  .sect-two-list .list-item:nth-child(6) {
    height: 199px;
    order: 7;
  }

  .sect-two-list .list-item:nth-child(7) {
    height: 270px;
    order: 8;
  }

  .sect-two-list .list-item:nth-child(8) {
    height: 220px;
    order: 3;
  }

  .sect-two-anchor {
    font-size: 18px;
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .section-two .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .sect-two-title {
    font-size: 40px;
  }

  .sect-two-description {
    font-size: 20px;
    max-width: 548px;
  }

  .sect-two-list .list-item-title::after {
    width: 150px;
  }

  .sect-two-anchor {
    width: 400px;
    font-size: 24px;
  }
}

/* section-three */

.section-three {
  padding-top: 60px;
  padding-bottom: 0;
}

.sect-three-title {
  color: #0e0e0e;
  text-align: center;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;

  margin-bottom: 30px;
}

.sect-three-title::before {
  content: "";
  display: block;

  height: 1px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b1b1b;

  margin-top: 0px;
  margin-bottom: 30px;
}

.sect-three-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.section-three .wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  border-radius: 15px;
  background: #cad9c4;

  margin-bottom: 30px;
}

.section-three .three-wrapper-text {
  color: #0e0e0e;
  font-family: Fixel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */

  margin-bottom: 20px;
}

.section-three .three-wrapper-text span {
  font-weight: 600;
}

.three-wrapper-list {
  margin: 0;
  padding-left: 27px;
}

.wrapper-list-item {
  margin-bottom: 10px;
}

.wrapper-list-item:last-child {
  margin-bottom: 0;
}

.section-three .list-item-text {
  color: #3d3d3d;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.sect-three-text {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 18px */

  margin-bottom: 10px;
}

.sect-three-text span {
  font-weight: 400;
}

.sect-three-text-two {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 18px */
}

.sect-three-text-two::after {
  content: "";
  display: block;

  height: 1px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b1b1b;

  margin-top: 30px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .sect-three-title {
    font-size: 36px;
  }

  .section-three .wrapper {
    width: 588px;
    padding: 40px 70px;
  }

  .section-three .three-wrapper-text {
    font-size: 20px;
  }

  .three-wrapper-list {
    padding-left: 15px;
  }

  .section-three .list-item-text {
    font-size: 18px;
  }

  .sect-three-text {
    font-size: 18px;
    max-width: 586px;

    margin-left: auto;
    margin-right: auto;
  }

  .sect-three-text-two {
    font-size: 18px;

    max-width: 420px;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .sect-three-title .container {
    padding-left: 89px;
    padding-right: 89px;
  }

  .sect-three-title::before {
    width: 300px;
    margin-bottom: 40px;
  }

  .sect-three-title {
    font-size: 40px;
  }

  .three-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1101px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 40px;
  }

  .section-three .wrapper {
    width: 620px;
    padding: 40px 40px;
    height: 395px;
    margin-bottom: 0;
  }

  .sect-three-image {
    margin-bottom: 0;
  }

  .sect-three-text {
    max-width: 722px;
  }

  .sect-three-text-two {
    max-width: 568px;
  }

  .sect-three-text-two::after {
    margin-top: 40px;
  }
}

/* section-four */

.section-four {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/section-four-background/section-four-background-1x.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/section-four-background/section-four-background-2x.jpg);
  }
}

.sect-four-title {
  color: #0e0e0e;
  text-align: center;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;

  margin-bottom: 40px;
}

.sect-four-title span {
  color: #6b8561;
}

.sect-four-list {
  margin-bottom: 40px;
}

.sect-four-list .item-title-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 280px;

  margin-left: auto;
  margin-right: auto;
}

.sect-four-list .item-title-container .item-title {
  text-align: center;

  color: #0e0e0e;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */

  margin-bottom: 20px;

  width: 230px;

  margin-right: auto;
}

.sect-four-list .item-title-container .item-title span {
  font-size: 14px;
  font-weight: 400;
}

.sect-four-list .item-title-container .item-title .span-two {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 80%; /* 14.4px */
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.four-item-decoration::after {
  content: "";
  display: block;

  height: 2px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a1b997;

  margin-top: 40px;
  margin-bottom: 40px;
}

.date-wrapper {
  display: flex;
  width: 135px;
  padding: 15px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  border-radius: 15px;
  border: 2px solid #697b61;
  background: #fff;
}

.date-flex {
  display: flex;
  gap: 5px;
  align-items: center;
}

.date-text {
  color: #0e0e0e;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
}

.date {
  color: #697b61;
  font-family: Fixel;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}

.four-lesson-description {
  color: #6b8561;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.four-list-item .date-container-space {
  margin-bottom: 20px;
}

.four-price {
  color: #0e0e0e;
  text-align: center;
  font-family: Fixel;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;

  margin-bottom: 10px;
}

.four-buy-button {
  display: block;
  width: 280px;
  padding: 12px 40px;

  margin-left: auto;
  margin-right: auto;

  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  border-radius: 60px;
  background: #6a1c32;

  border: none;

  cursor: pointer;

  animation: glowing2 1300ms infinite;
}

.section-four .wrapper {
  padding: 30px 10px;

  border-radius: 15px;
  border: 2px solid #a1b997;

  margin-top: 80px;
  margin-bottom: 80px;

  max-width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.section-four .wrapper-title {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.section-four .four-wrapper-list {
  margin-top: 0;
  margin-bottom: 40px;
}

.four-wrapper-list .list-item-text {
  color: #0e0e0e;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.four-lesson-title {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 21.6px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.four-lesson-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.four-lesson-list .list-item {
  border-radius: 15px;
  border: 2px solid #a1b997;

  padding: 30px 20px;

  max-width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.four-lesson-list .item-title {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */

  margin-bottom: 20px;
}

.four-lesson-list .item-title span {
  font-weight: 400;
}

.four-lesson-list .item-title .span-two {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 14.4px */
}

.four-lesson-list .after-decoration::before {
  content: "";
  display: block;

  height: 2px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a1b997;

  margin-top: 20px;
  margin-bottom: 20px;
}

.four-border-container {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.four-lesson-list .date-container-space {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section-four {
    padding-top: 80px;
    padding-bottom: 60px;

    background-image: url(../images/section-four-background/section-four-background-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url(../images/section-four-background/section-four-background-tablet-2x.jpg);
    }
  }

  .sect-four-title {
    font-size: 36px;
  }

  .sect-four-list .item-title-container {
    width: 390px;
  }

  .sect-four-list .item-title-container svg {
    margin-right: 25px;
    width: 40px;
    height: 40px;
  }

  .sect-four-list .item-title-container .item-title {
    font-size: 20px;
    width: 270px;

    margin-right: auto;
  }

  .sect-four-list .item-title-container .item-title span {
    font-size: 16px;
  }

  .date-wrapper {
    width: 200px;
  }

  .date-text {
    font-size: 14px;
  }

  .date {
    font-size: 18px;
  }

  .four-lesson-description {
    font-size: 16px;
  }

  .four-price {
    font-size: 20px;
  }

  .four-buy-button {
    font-size: 18px;
    width: 300px;
    padding: 12px 20px;
  }

  .section-four .wrapper {
    max-width: 410px;
    padding: 30px 40px;
  }

  .section-four .wrapper-title {
    font-size: 24px;
  }

  .four-wrapper-list .list-item-text {
    font-size: 18px;
  }

  .four-lesson-title {
    font-size: 24px;
  }

  .four-lesson-list {
    gap: 40px;
  }

  .four-lesson-list .list-item {
    max-width: 450px;
    padding: 30px 20px;
  }

  .four-lesson-list .item-title {
    font-size: 20px;
  }

  .four-lesson-list .item-title .span-two {
    font-size: 14px;
  }

  .sect-four-list .item-title-container .item-title .span-two {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .section-four {
    background-image: url(../images/section-four-background/section-four-background-desktop-1x.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url(../images/section-four-background/section-four-background-desktop-2x.jpg);
    }
  }

  .four-border-container {
    border-radius: 40px;
    border: 5px solid #a1b997;

    padding: 40px 40px 50px 40px;

    margin-bottom: 80px;
  }

  .sect-four-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .four-item-decoration::after {
    display: none;
  }
  .date-container-decoration {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 46px;
    border-bottom: 2px solid #a1b997;
  }

  .four-list-item:nth-child(1) {
    border-right: 2px solid #a1b997;
  }

  .four-list-item:nth-child(3) {
    padding-top: 30px;
    border-right: 2px solid #a1b997;
  }

  .four-list-item:nth-child(4) {
    padding-top: 30px;
  }

  .four-list-item:nth-child(5) {
    margin-top: 30px;
  }

  .four-price {
    font-size: 28px;
  }

  .four-buy-button {
    font-size: 20px;
    width: 400px;
    padding: 12px 10px;
  }

  .four-lesson-title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .four-lesson-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .four-lesson-list .list-item {
    max-width: 450px;
    padding: 30px 25px;

    margin-left: 0;
    margin-right: 0;
  }
}

/* section-five */

.section-five {
  position: relative;

  padding-top: 60px;
  padding-bottom: 60px;

  background: #e9f0e9;
}

.section-five .container {
  position: relative;

  z-index: 1;
}

.doctor-star-second {
  position: absolute;
  top: 125px;
  left: 43px;
  z-index: -1;

  animation: spin 40s linear 0s infinite;
  z-index: -5;
}

.sect-five-title {
  color: #1b1b1b;
  text-align: center;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;
}

.section-five-doctor {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.five-text-wrapper {
  position: absolute;
  top: 415px;
  left: 0;

  width: 100%;
  padding: 10px 20px;

  background: #515e4c;

  z-index: 2;
}

.five-name {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 20.4px */
}

.sect-five-list {
  margin-bottom: 80px;

  padding-left: 36px;
}

.sect-five-list .list-item {
  color: #0e0e0e;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  margin-bottom: 10px;

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.sect-five-list .list-item:first-child {
  list-style: none;
}

.sect-five-list .list-item span {
  font-weight: 700;
}

.five-get-wrapper {
  border-radius: 20px;
  background: #697b61;

  max-width: 320px;

  padding: 0 20px 22px 20px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 80px;
}

.get-title-wrapper {
  padding: 13px 27px;

  width: 200px;
  height: 92px;

  border-radius: 0px 0px 15px 15px;
  background: #fff;

  margin-bottom: 40px;
}

.get-title {
  color: #0e0e0e;
  font-family: Fixel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 22px */
  text-transform: uppercase;

  max-width: 155px;
}

.get-course-list .list-item::after {
  content: "";
  display: block;

  height: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #a1b997;

  margin-top: 24px;
  margin-bottom: 24px;
}

.get-course-list .list-item-text {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
}

.get-course-list .list-item-text span {
  font-weight: 800;
}

.reviews-title {
  color: #1b1b1b;
  text-align: center;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.siema {
  width: 320px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 0;
}

.siema .siema-image {
  padding: 13px;
  border-radius: 30px;
  border: 1px solid #1b1b1b;
}

.siema-button-control {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.section-five button {
  background: none;
  border: none;
  cursor: pointer;
}

.sect-five-title-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-five {
    padding-top: 60px;
  }

  .doctor-star-second {
    width: 428px;
    height: 428px;

    top: 85px;
    left: 175px;
  }

  .sect-five-title {
    font-size: 36px;
  }

  .five-text-wrapper {
    padding: 10px 20px;
    top: 537px;
  }

  .section-five-doctor {
    margin-bottom: 70px;
  }

  .five-name {
    font-size: 28px;
  }

  .sect-five-list .list-item {
    font-size: 18px;
    max-width: 445px;
  }

  .five-get-wrapper {
    max-width: 588px;

    padding: 0 36px 38px 36px;
  }

  .get-title-wrapper {
    width: 368px;

    padding: 15px 20px;
  }

  .get-title {
    max-width: 284px;
    font-size: 28px;
  }

  .get-course-list .list-item-text {
    font-size: 18px;
  }

  .reviews-title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .siema {
    width: 399px;
    margin-left: 140px;
    margin-bottom: 30px;
  }

  .section-five button svg {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .section-five {
    padding-top: 0;
  }

  .sect-five-title {
    display: none;
    margin-left: 15px;
  }

  .sect-five-title-desktop {
    display: block;
    color: #1b1b1b;
    text-align: left;
    font-family: Fixel;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 33.6px */
    text-transform: uppercase;

    margin-bottom: 30px;
  }

  .five-flex-container {
    display: flex;
    gap: 80px;
  }

  .doctor-star-second {
    width: 535px;
    height: 535px;

    top: 85px;
    left: 80px;
  }

  .five-text-wrapper {
    padding: 20px 20px;
    top: 580px;
  }

  .five-name {
    font-size: 42px;
  }

  .sect-five-list {
    margin: 0;
    padding-top: 80px;
  }

  .section-five-doctor {
    margin-bottom: 160px;
  }

  .five-get-wrapper {
    max-width: 848px;

    padding: 0 50px 38px 50px;
  }

  .reviews-title {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .siema {
    width: 840px;
    border-radius: 15px;
    margin-left: 145px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

/* section-six */

.section-six {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sect-six-title {
  color: #1b1b1b;
  text-align: center;
  font-family: Fixel;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 33.6px */
  text-transform: uppercase;

  margin-bottom: 40px;
}

.sect-six-title span {
  color: #9bc19a;
}

.sect-six-info {
  color: #76926b;
  text-align: center;
  font-family: Fixel;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.lesson-description {
  color: #76926b;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

@media screen and (min-width: 768px) {
  .section-six {
    padding-bottom: 80px;
  }

  .sect-six-title {
    font-size: 36px;
  }

  .sect-six-info {
    font-size: 20px;
  }

  .lesson-description {
    max-width: 320px;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .section-six {
    padding-bottom: 100px;
  }

  .sect-six-title {
    font-size: 40px;
  }

  .sect-six-info {
    font-size: 24px;
  }

  .lesson-description {
    font-size: 18px;
    max-width: 348px;
  }
}

/* faq */

.faq {
  max-width: 320px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 60px;
}

.isOpen .content {
  display: block;
}

.question {
  background-color: var(--white-text-color);
  border-radius: 15px;
}

.question:last-child {
  margin-bottom: 0px;
}

.question svg {
  transform: rotate(0);
  transition: transform 250ms linear;
}

.question.open svg {
  transform: rotate(45deg);
}

.question-name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
}

.section-six .question-name p {
  color: #0e0e0e;
  font-family: Fixel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */

  max-width: 232px;
}

.content {
  display: none;

  padding-left: 20px;
  padding-right: 20px;
}

.content p {
  margin-top: 20px;

  color: #0e0e0e;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

.question-decoration-one::before {
  content: "";
  display: block;

  height: 1px;
  width: 100%;
  background-color: #0e0e0e;

  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

.question-decoration-one::after {
  content: "";
  display: block;

  height: 1px;
  width: 100%;
  background-color: #0e0e0e;

  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

.question-decoration::after {
  content: "";
  display: block;

  height: 1px;
  width: 100%;
  background-color: #0e0e0e;

  margin-top: 20px;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .faq {
    max-width: 470px;
  }

  .section-six .question-name p {
    font-size: 20px;
    max-width: 330px;
  }

  .content p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .faq {
    max-width: 580px;
  }
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #0e0e0e;
}

.footer .container {
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
}

.footer-contacs-container::after {
  content: "";
  display: block;

  height: 1px;
  width: 100%;
  background-color: #fff;

  margin-top: 50px;
  margin-bottom: 50px;

  margin-left: auto;
  margin-right: auto;
}

.phone-conatiner {
  margin-bottom: 30px;
}

.phone-text {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.phone-number {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.working-hours-container {
  margin-bottom: 30px;
}

.working-text {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

.working-weeks {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
}

.working-time {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

.working-mail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mail-icon {
  margin-right: 8px;
}

.mail-link {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-contract-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 40px;
}

.contract-link {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: underline;
}

.fop-text {
  color: #fff;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 10px;
}

.fop-info {
  color: #fff;
  font-family: Manrope;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 114.1%; /* 12.551px */

  max-width: 320px;
}

.social-link-container {
  position: absolute;
  top: 0;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer .container {
    padding-left: 56px;
    padding-right: 56px;
  }

  .footer-contacs-container::after {
    display: none;
  }

  .working-hours-container {
    margin-bottom: 110px;
  }

  .social-link-container {
    flex-direction: row;
    top: unset;
    right: unset;
    bottom: 37px;
    left: 56px;
  }

  .footer-contract-container {
    position: absolute;
    top: 0;
    right: 56px;
  }

  .contract-link {
    text-align: right;
  }

  .footer-fop {
    position: absolute;
    bottom: 0;
    right: 56px;

    text-align: right;
  }

  .fop-text {
    text-align: right;
    font-size: 14px;
  }

  .fop-info {
    max-width: 345px;
    font-size: 12px;
  }

  .phone-text {
    margin-bottom: 10px;
  }

  .working-text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    padding-left: 158px;
    padding-right: 158px;
  }

  .social-link-container {
    flex-direction: row;
    top: unset;
    right: unset;
    bottom: 37px;
    left: 158px;
  }

  .phone-text {
    font-size: 18px;
  }

  .phone-number {
    font-size: 18px;
  }

  .working-text {
    font-size: 18px;
  }

  .working-weeks {
    font-size: 18px;
  }

  .working-time {
    font-size: 18px;
  }

  .contract-link {
    font-size: 18px;
  }

  .mail-link {
    font-size: 18px;
  }

  .fop-text {
    font-size: 16px;
  }

  .fop-info {
    font-size: 14px;
    max-width: 400px;
  }
}

/* modal */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  padding-top: 50px;
  padding-bottom: 114px;

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;

  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  width: calc(100% - 28 px);

  width: 90%;

  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 500px;
  }
}

.close-button {
  position: absolute;
  top: 40px;
  right: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
  border: none;

  cursor: pointer;
}

/* agreement-modal */

.backdrop-agreement {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  padding-top: 200px;
  padding-bottom: 114px;

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;

  z-index: 999;
}

.backdrop-agreement.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-agreement {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  padding: 30px 20px;
  width: 300px;
  border-radius: 20px;

  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agreement p {
  color: #0e0e0e;
  text-align: center;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 15.6px */

  max-width: 260px;

  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

.modal-agreement p a {
  color: #515e4c;
}

.agreement-button {
  display: block;

  margin-left: auto;
  margin-right: auto;

  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  padding: 10px 40px;

  width: 260px;

  border-radius: 60px;
  background: #515e4c;

  border: none;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-agreement {
    padding: 30px 20px;
    width: 520px;
    border-radius: 20px;
  }

  .modal-agreement p {
    font-size: 16px;
    max-width: 400px;
  }

  .agreement-button {
    font-size: 18px;
  }
}
